<h1>Users Admin</h1>
<a class="button" (click)="addUser()">add</a>
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td><button type="button" (click)="viewUser(user.id)">Show Details</button></td>
      </tr>
    </tbody>
  </table>
  <div>
    <app-adduser *ngIf=" action==='add'" [user]=" selectedUser" (userAddedEvent)="refreshData()"></app-adduser>
    <app-viewuser *ngIf="action === 'view'" [user]="selectedUser" (userDeletedEvent)="refreshData()">
    </app-viewuser>
  </div>
</div>
